<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="advance.iak.advance3">

    <permission
        android:name="advance.iak.advance3.permRead"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".services.ServiceSampleActivity"></activity>
        <activity android:name=".PeopleInputActivity"></activity>
        <activity android:name=".RetrofitActivity"></activity>
        <activity android:name=".OrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.ServiceOne" />
        <service android:name=".services.ServiceTwo" />

        <provider
            android:name=".data.MyContentProvider"
            android:authorities="advance.iak.advance3"
            android:exported="true"
            android:readPermission="advance.iak.advance3.permRead" />

        <receiver android:name=".widget.MyWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_info" />
        </receiver>
    </application>

</manifest>